@model IEnumerable<Product>

<div class="widget">
    <h4>FEATURED</h4>

    <div class="products-list">

        @foreach (var featuredProduct in Model)
        {
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="" class="img-responsive product-thumb" src="images/products/@featuredProduct.Image">
                </a>
                <div class="media-body">
                    <a href="#" class="product-title">@featuredProduct.Name</a>
                    <p class="product-price">$@featuredProduct.Price</p>
                </div>
            </div>

        }


    </div>

</div>